* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

.project-content {
    background-color: #000000;
}

.header-content {
    color: #FF0000;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 10px;
    justify-content: space-between;
}
.intro {
    font-size: 28px;
    margin-left: 60px;
    text-align: left;
    display: flex;
    width:50%;
}

.sub-heading,
.sub-heading2 {
    color: #ff0000;
    font-size: 30px;
    margin-left: 60px;
}

.points{
    margin-left:90px;
    font-size: 28px;
}
.details {
    font-size: 28px;
    margin-left: 70px;;
    flex: 2; 
    order: 2;
    width:50%;
    
}

.goback {
    color: #fff;
    text-decoration: none;
    position:absolute;
    font-size: 20px;
    margin-left:790px;
    margin-top: 10px;
    background: #262626;
    padding: 10px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.goback:hover {
    background-color: red;
    transition: 0.5s;
}

.leftcolumn{
    margin-left: 1000px;
    margin-top:-615px;
}
.demo{
    font-size: 45px;
    color: #ff0000;
}
.video{
    margin-top:-100px;
}
